
/.idea
/.idea
.idea/k8s-springboot-demo.iml
/NodeJS/services/user-service/node_modules
/NodeJS/services/order-service/node_modules
/NodeJS/services/library-service/node_modules
NodeJS/services/library-service/.env
